.container {
    display: flex;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;

}
.anet_page_logo{
   
    width: 30%;
    
}
.st0{fill:#000000;}
.st1{fill:#0075FF;}
.st2{fill:#FFC300;}
.skrill_page_logo{
    width: 12.5%;
    margin-left: -1%;
}
.stripe_page_logo{
   
    width: 10.3%;
    
}

/* Styles for logos with class square_page_logo */
.square_page_logo{
   
    width: 17%;
   
}

/* Styles for logos with class gpayment_page_logo */
.gpayment_page_logo{
    
    width: 30%;
    
}
.logo-container {
    display: flex; /* Use flexbox to arrange children horizontally */
     /* Vertically center the children */
    height: 10vh;}
.parent{
    display: flex;
    align-items: center;

}
/*/////////////////////////////////////////////////////////////////////////////////////*/

/* CSS */
.image-container {

    background-image: url('/resource/makepaymentbg');
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center center
}

img {
    max-width: 100%;
    height: auto;
}

.text-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity as needed */
    color: white;
    padding: 10px;
    margin-top: auto; /* Push the text to the bottom of the container */
    width: 100%; /* Make the text overlay full width */
    text-align: center; /* Center text within the overlay */
}

.background {
    flex: 1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.output-field {
    
    font-size: 24px;
    
}
.output-value {
    /* Add styles for your output field text here */
 
    font-size: 26px;
 
    font-weight: 900;

}
.modal-cross{
    display: flex;
    border: none;
    
    font-size: 16px;
    cursor: pointer;
}
.border-rad{
    border-radius: 20px;
}



.background img {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    max-height: 100%; /* Make sure the image doesn't exceed the container height */
    object-fit: cover; /* Cover the container with the image */
}



.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    align-items: stretch;
    /* align-content: center; */
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    
    padding: 10px;
    margin: 10px;
}


/* Different background colors for each box */
.box1 {
    
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 14%;
    
}

.box2 {
    width: 70%;
    margin-left: 15%;
    
    

}

/*.box3 {
    /*kdnckdmnk*
}*/
.step-descriptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    max-width: 78%;
    /* align-content: center; */
    flex-direction: row;
    margin-left: 11%;/* Adjust the margin as needed */
}
.Response {
    
    margin-left: 4%;
}

/* Styles for elements with class Verified */

.slectcardFont{
    font-size: 20px;
}

/* Styles for elements with class Request */
.Request {
    margin-left: 1%;
}
.card {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px;
    background-color: #f5f5f5;
}
/* Target the label associated with the Lightning Combobox */
div.slds-form-element[data-id="combobox-element"] label.slds-form-element__label {
    font-size: 20px;
}
.labelMargin{
    margin-top: -2%;
}
.currencyinput {
    border: 1px rgb(116, 116, 116);
    border-style: solid;
    border-radius: 7px;
    font-size: 1.5em;
    padding: 2px 9px 2px 2px;
}
.currencyinput input {
    border: 0;
}
/* myComponent.css */
.paymentcontainer {
    display: flex;
    align-items: center; /* Use flexbox to position divs side by side */
}

.left-div {
    flex: 1; /* Grow to take available space */
    /* Additional styles for left-div */
}

.right-div {
    flex: 1; /* Grow to take available space */
    text-align: end;
    /* Additional styles for right-div */
}
.amount{
    font-size: 20px;
    margin-bottom: 3%;
    margin-right: 5%;
}


.butoonsize{
    border: 0px;
    width: 100%;
    height: 2em;
    font-size: 20px;
}
/* myCustomRadioButtons.css */

 /* myCustomRadioButtons.css */
.custom-radio {
    display: flex;
    border: 2px solid #0070d2; /* Outer border color (blue) */
    border-radius: 25px; /* Curved outer edges */
    overflow: hidden; /* Hide overflow, making it look like a single unit */
}

button {
    
    border: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

button.selected {
    background-color: #0070d2; /* Selected button background color (blue) */
    color: #fff; /* Selected button text color (white) */
}
.lightning-radio-group button.slds-radio_button {
    font-size: 16px; /* Adjust the font size */
    padding: 12px 24px; /* Adjust the padding to increase button size */
    border-radius: 12px; /* Add rounded corners for a larger appearance */
}

/* Styles for custom buttons */
.paynow_button{
    display: flex;
    justify-content: flex-end;
    
}
.background-image {
    
    z-index: -1; /* Place the image behind the output field */
}
.desktop-container {
    flex-direction: row; /* Default to a row layout for desktop */
  }
  .centered-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 18%;
    font-size: 18px;
}

.centered-text {
    display: inline;
}
/* myComponent.css */
.center-buttons {
    text-align: center;
}

.rounded-button {
    border-radius: 20px; /* Adjust the border-radius value as needed */
    margin-left: 10px; /* Adjust the margin as needed */
}
.font-light {
    font-weight: 900;
}

.font-light {
    font-weight: 300;
}
  
@media screen and (max-width: 425px){
    .container {
        flex-direction: column; /* Change to a column layout for mobile */
        height: 100%;
      }
    
      .box1, .box2 {
        width: 100%; /* Both boxes take full width */
        margin: 0; /* Remove margins */
      }
      
.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    align-items: self-end;
    justify-content: space-around;
    
}
.box3 {
    display: none;
}
.paynow_button{
    display: flex;
    justify-content: flex-end;
}
.amount{
    font-size: 15px;
    margin-bottom: 3%;
    margin-right: 5%;
}
.slectcardFont{
    font-size: 15px;
}
.box1 {
    
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 14%;
    
}
.background {
    flex: 1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
     
}

.output-field {
    
    font-size: 24px;
    
}
.output-value {
    /* Add styles for your output field text here */
 
    font-size: 26px;
 
    font-weight: 900;

}
.imgheight{
    height: 10vh;
}
.image-container {

    background-image: url('/resource/makepaymentbg');
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center center
}
}