.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 2em 2.5em 2em;
    background-color: #ffffff ;
    height: 80vh;
    
    
}
.color-setter{
    color:#707070;
    font-family: "Segoe UI", sans-serif;
}
.sub-main-top{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 8%;
}
.slds-custom-button{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.st0{fill:#000000;}
.st1{fill:#0075FF;}
.st2{fill:#FFC300;}
.slds-custom-button

.main-top-logo
{
    width: 40%
}
.main-top-dropdown
{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}
.dropdown-button-text {
    width: 80%;
}
.text-setter
{
    font-family: "Segoe UI", sans-serif;
    color:#707070;
}
.sub-main-middle
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.main-middle-card
{
width: 50%;
}
.main-middle-menu
{
width: 50%;
}
.sub-main-middle
{
    display: flex;
    align-items: center;
}
/* For card Payment*/

.main-container{
    display: flex;
    width: 80%;
    border: 2px solid  #707070;
    background-color: #ffffff;
    border-radius: 0.75em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.sub-main
{
    
    padding: 1em 0 1em 1em;
    width: 100%;
}
.logo-svg{
    position: relative;
width: 55%;
padding-bottom: 1em;
height: 70%;

}
.label-value{
    font-size: 0.75em;
}
.label-value
{
    margin-top: -3%;
    font-weight: bolder;
    font-size: 1.2em;
}
.Expiry-CVV-set{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card-type-svg{
    padding-top: 3em;
    width: 15%;
    padding-right: 1em;
}
/* Card data */
.card-data{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.input-fields-setter{
    width: 80%;
}
.input-fields-setter-small{
    width: 30%;
}

.submit-setter
{
    display: flex;
    flex-direction: row-reverse;
}

/* Bottom */
.step-descriptions{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}
.dropdown-element-width-setter
{
    width:30%;
}
.dropdown-menu
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}
.dropdown-span-setter{
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
}
.dropdown-div-content{
    display:contents;
}
.stripe-skrill-setter
{
    width: 15%;

}
.dropdown-svg
{
    width: 50%;
}

.top-logo-width-set{
    height: 100%;
}


.main-top-logo{
    width: 35%;
    height: 3.5em;
}











@media (max-width: 430px) {
    
   
   .main-middle-card{
    display: none;
   }
   .main-middle-menu
   {
    width: 100%;
margin: 0 auto; 
   }
   .input-fields-setter-small{
    width: 48%;
}
.dropdown-button-text{
    display: none;
}

   .sub-main-bottom{
    display: none;
   }
   .slds-button__icon{
    margin: 0;
    padding: 0;
   }
   .main-top-dropdown{
    padding: 0;
   }
.sub-main-top{
    display: flex;
    align-items: center;
}
.slds-m-left_small{
    margin: 0;
}
.input-fields-setter{
    width: 100%;
}
.sub-main-middle{
    justify-content: center;
}
.card-data{
    width: 100%;
}

.mobile-submit-setter{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2em auto;
}

.main-top-dropdown{
    margin: 0;
    padding: 0 ;
}
.slds-custom-button{
    width: auto;
}
.dropdown-menu{
    width: auto;
}
.main-top-logo-square{
    width: 20%;
}
.main-top-logo-square{
    width: 20%;
}
.main-top-logo-gp-au{
    width: 50%;
    height: 2em;
}
  }